*.pyc
/__pycache__
*.chkpnt
*.pth
*.json
*.wav
*.m4a
!.github/gspi.wav
/plots
logdir
!pretrained_model*/*.pth
!pretrained_model*/*.json
!pretrained_model*/*.onnx
!pretrained_model*/*.ts
!.github/pretrained_models_other/pretrained_model*/*.pth
!.github/pretrained_models_other/pretrained_model*/*.json
!.github/pretrained_models_other/pretrained_model*/*.onnx
!.github/pretrained_models_other/pretrained_model*/*.ts
*.whl
*.egg-info
/build
/cadenza-results
.hypothesis
